COMPOSE_PROJECT_NAME="web_project"
CONTAINER_NAME_PREFIX=laravel-app-12

HOST_PROJECT_PATH='./web_project'

# DATABASE
ROOT_USER=root
DB_USER=your_user
DB_PASSWORD=your_password
DB_NAME=web_project_db
ROOT_PASSWORD=your_root_password
