COMPOSE_PROJECT_NAME="web_project"
CONTAINER_NAME_PREFIX=laravel-app-12

PATH_TO_LARAVEL_PROJECT='./web_project'

# DATABASE
ROOT_USER=root
DB_USER=example_user
DB_PASSWORD=example_password
DB_NAME=example_db
ROOT_PASSWORD=example_root_password